input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  width: 90%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
