.scrollcontainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
}

.scrollcontainer .card {
    display: inline-block;
    width: 350px;
    margin: 10px;
}

.scrollcontainer .error {
    font-family: "Roboto", sans-serif;
    color: darkred;
    text-align: center;
}

.scrollcontainer .empty {
    font-family: "Roboto", sans-serif;
    color:  #BB66CC;
    text-align: center;
}

.scrollcontainer .category {
    font-family: "Roboto", sans-serif;
    color: #4455BB;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    align-self: center;
    padding: 40px;
}

