.movietitle { 
    grid-area: movietitle; 
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #4455BB;
}
.poster { 
    grid-area: poster; 
    font-size: 18px;
    font-weight: 400;
    color: #BB66CC;
    min-width: 400px;
    min-height: 400px;
}

.poster img {
    max-width: 400px;
    object-fit: contain;
}
.director { 
    grid-area: director; 
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #BB66CC;
    align-self: center;
}
.movieCategory { 
    grid-area: category; 
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #BB66CC;
}
.release { 
    grid-area: release; 
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #BB66CC;
}
.score { 
    grid-area: score; 
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #BB66CC;
}
.buttonEdit {
    grid-area: buttonEdit; 
}

.buttonDelete {
    grid-area: buttonDelete; 
}

.details-grid-container {
  display: grid;
  grid-template-areas:
    'poster movietitle movietitle  '
    'poster director director  '
    'poster category category '
    'poster release release '
    'poster score score  '
    'poster buttonEdit buttonDelete ';
  grid-gap: 10px;
  padding: 50px;
  width: 80%;
}

@media screen and (max-width: 768px) {
    .details-grid-container {
        grid-template-areas:
        'movietitle movietitle  '
        'director director  '
        'category category '
        'release release '
        'score score  '
        'poster poster '
        'buttonEdit buttonDelete ';
    }

  } 
