.header {
  display: grid;
  grid-template-columns: 80px 140px 140px 1fr 140px 80px;
  grid-template-areas: "logo title filter search add avatar";
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #FFFFFF;
  justify-items: auto;
  align-items: center;
}

.header .logo {
  background-image: url('/img/ironhack.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  grid-area: logo;
}

.header .title {
  grid-area: title;
  font-family: "Roboto", sans-serif;
  color: #BB66CC;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
}

.header .filter {
  grid-area: filter;
  width: 80%;
  height: 30px;
  background-color: #a4b8e2;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search {
  grid-area: search;
  height: 35px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .add {
  grid-area: add;
  font-family: "Roboto", sans-serif;
  color: #BB66CC;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  
}

.header .avatar {
  grid-area: avatar;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-image: url('/img/kito.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo title add avatar"
                        "filter search search search";
    height: 120px;
  }
} 
