* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.row {  
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}
.side {
  display: flex;
  flex: 45%;
  padding: 50px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.side > div {
  align-self: center;
}
.main {
  display: flex;
  flex: 55%;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main > div {
  align-self: center;
}
.rosa {
  background-color: rgb(229, 195, 199);
  color: rgb(0, 0, 0);
}
.rosa > a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.rosa > a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.lightblue {
  background-color: rgb(199, 215, 228);
  color: rgb(0, 0, 0);
}
.lightblue > a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.lightblue > a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.darkblue {
  background-color: rgb(38, 102, 120);
  color: rgb(255, 255, 255);
}
.darkblue > a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.darkblue > a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.white > a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.white > a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.darjeeling {
  background-image: url("/img/darjeeling.jpg");
}
.hitchcock {
  background-image: url("/img/hitchcock.jpg");
}
.almodovar {
  background-image: url("/img/almodovar.jpg");
}

.homebutton {
  border-radius: 4px;
  text-align: center;
  height: fit-content;
  justify-content: center;
  width: fit-content;
  padding: 12px;
}


@media screen and (max-width: 768px) {
  .row  {   
    flex-direction: column;
  }
} 
