
.homepage {
  width: auto;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  text-align: center;
  background-color: #FFFFFF;
  justify-items: auto;
  align-items: center;
}

.homepage .feat1 {
  grid-column-start: 1;
  grid-column-end: -1;
  background-image: url("/img/darjeeling.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 737px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .highlight-feat2 {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #4455BB;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 50px;
}


.homepage .feat2 {
  grid-column: span 2;
  background-image: url("/img/hitchcock.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .carrusel {
  grid-column-start: 1;
  grid-column-end: -1;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .feat3 {
  grid-column-start: 1;
  grid-column-end: -1;
  background-image: url("/img/almodovar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 737px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
}
.feat1text {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.feat1text .feat1text1 {
  width: 452px;
  height: 86px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 72px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  grid-column: 1/-1;
}

.feat1text .feat1text2 {
  width: 452px;
  height: 86px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  grid-column: 2/-1;
}

@media screen and (max-width: 768px) {
  .homepage .feat2 {
    grid-column: 1 / -1;
  }
  .homepage .highlight-feat2 {
    display: none;
  }

} 
